bin
lib
include
db
dbd
cfg
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
configure/*.local
O.*/
*~
*.swp
/QtC-*
/.qtc_*
.project
.settings
.cproject
external/

ci/coverage.info
ci/html/

