bin
lib
include
db
dbd
cfg
*_BAK.adl
documentation.html
envPaths*
cdCommands
dllPath.bat
auto_settings.sav*
configure/*.local
O.*/
*~
*.swp
/QtC-*
/.qtc_*
.project
.settings
.cproject
external/

ci/coverage.info
ci/html/

# Files produced by testing suite
invalid_points.xml
test_att.h5
test_dim1.h5
test_dim2.h5
test1_001.h5
testing_0.5
valid_points.xml
