<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gov.anl.aps.synApps.areaDetector.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="gov.aps.anl.gov.synApps.synAppsActionSet"
            label="synApps"
            visible="true">
         <menu
               id="gov.anl.aps.synApps.synAppsMenu"
               label="synApps"
               path="menu:org.eclipse.ui.main.menu?before=window">
            <separator
                  name="gov.aps.anl.gov.synApps.areaDetector.separator1">
            </separator>
            <groupMarker
                  name="areaDetectorMarker">
            </groupMarker>
         </menu>
      </actionSet>
      <actionSet
            id="gov.aps.anl.gov.synApps.areaDetectorActionSet"
            label="synApps"
            visible="true">
         <action
               class="gov.anl.aps.synApps.areaDetector.InstallAreaOPITemplates"
               id="gov.anl.aps.gov.synApps.installADTemplateActions"
               label="Install areaDetector Template files"
               menubarPath="gov.anl.aps.synApps.synAppsMenu/gov.anl.aps.synApps.areaDetectorMenu/additions"
               style="push">
         </action>
         <menu
               id="gov.anl.aps.gov.synApps.areaDetectorMenu"
               label="areaDetector"
               path="gov.anl.aps.synApps.synAppsMenu/areaDetectorMarker">
            <groupMarker
                  name="additions">
            </groupMarker>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="gov.anl.aps.synApps.synAppsMenu"
               label="&amp;synApps"
               tooltip="synApps addons">
            <menu
                  id="gov.anl.aps.synApps.areaDetectorMenu"
                  label="areaDetector"
                  tooltip="areaDetector addons">
            </menu>
         </menu>
      </menuContribution>
   </extension>

</plugin>
