## firewireColorCodes.template

# Valid color code strings
record(stringin, "$(P)$(R)VALID_COLORCODE_$(N)") {
  field(PINI, "YES")
  field(DTYP, "asynOctetRead")
  field(INP, "@asyn($(PORT) $(N))FDC_VALID_COLORCODE")
  field(SCAN, "I/O Intr")
}

# Has color code bi
record(bi, "$(P)$(R)HAS_COLORCODE_$(N)") {
  field(PINI, "YES")
  field(DTYP, "asynInt32")
  field(INP, "@asyn($(PORT) $(N))FDC_HAS_COLORCODE")
  field(ZNAM, "No")
  field(ONAM, "Yes")
  field(SCAN, "I/O Intr")
}
