#=================================================================#
# Template file: NDFileTIFFS3.template
# Database for NDFileTIFFS3 driver, which saves NDArray data 
# in the TIFF file format

include "NDFileTIFF.template"
include "NDPluginBase.template"
