#=================================================================#
# Template file: NDGather.template
# Database for NDPluginGather plugin
# Mark Rivers
# February 26, 2017

include "NDPluginBase.template"
