#
# This database syncs an ROI to be the size of the entire detector
record(longout, "$(P)$(ROI)SizeXLink")
{
    field(DOL,  "$(P)$(CAM)ArraySizeX_RBV CP MS")
    field(OMSL, "closed_loop")
    field(OUT, "$(P)$(ROI)SizeX PP")
}

record(longout, "$(P)$(ROI)SizeYLink")
{
    field(DOL,  "$(P)$(CAM)ArraySizeY_RBV CP MS")
    field(OMSL, "closed_loop")
    field(OUT, "$(P)$(ROI)SizeY PP")
}

