#=================================================================#
# Template file: pvaDriver.template
# Database for the records specific to the pvAccess Driver
# Bruno Martins
# April 11, 2015

include "ADBase.template"

# There are no driver parameters defined

